.header{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgb(244, 241, 241);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
}

.logo{
    height: 5rem;
    width: 5rem;
}

.nav-items > ul{
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;
}

.nav-items > ul > li{
    padding-right: 1.5rem;

}


.rest-container{
     display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    /* height: 6rem;
    width: 3rem; */
    justify-content: space-evenly;
    align-items: center;

}

.res-card:hover{
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     cursor: pointer;
}
.res-card{
    height: 28rem;
    width: 18rem;
    /* border: 2px solid black; */
    padding: 1rem;
    margin: 0.7rem;
    background-color: #f3f0ee;

}

.res-logo{
    height: 60%;
    width: 18rem;
}